body {
  background-color: gray;
}

#game-cont {
  background-color: gray;
  width: 800px;
	height: 500px;
	margin: auto;
	align: center;
  /*border: 1px solid black;*/
}

#score-options-cont {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  /*border: 1px solid black;*/
}

#score {
  /*font-size: 300%;*/
  color: white;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  /*border: 1px solid black;*/
}

#options {
  /*font-size: 300%;*/
  color: white;
  /*border: 1px solid black;*/
}

#winner {
  color: white;
  /*border: 1px solid black;*/
}

.controls {
  color: white;
}
